<div class="form-instrument">
  <%= simple_form_for [:client, @treatment] do |t| %>
    <div class="form-inputs">
      <div class="col-sm-6 col-sm-offset-3">
        <%= t.input :name, label: "Nom du traitement" %>
      </div>
      <div class="col-sm-6 col-sm-offset-3">
        <%= t.input :start_date, label: "Date de début du traitement" %>
      </div>
      <div class="col-sm-6 col-sm-offset-3">
        <%= t.input :main_purpose, label: "Objectif principal du traitement" %>
      </div>
      <div class="col-sm-6 col-sm-offset-3">
        <%= t.input :other_purpose, label: "Autres objectifs" %>
      </div>
      <div class="col-sm-6 col-sm-offset-3">
        <%= t.input :service_concerned, label: "Services concernés" %>
      </div>
      <div class="col-sm-6 col-sm-offset-3">
        <%= t.input :service_function, label: "Fonction du service" %>
      </div>
      <div class="col-sm-6 col-sm-offset-3">
        <%= t.input :category_people_concerned, label: "Catégories de personnes concernées par le traitement" %>
      </div>
      <div class="col-sm-6 col-sm-offset-3">
        <%= t.input :personal_data, label: "Données personnelles collectées" %>
      </div>
      <div class="col-sm-6 col-sm-offset-3">
        <%= t.input :sensitive_data, label: "Données sensibles collectées" %>
      </div>
      <div class="col-sm-6 col-sm-offset-3">
        <%= t.input :recipient, label: "Destinataire des données" %>
      </div>
      <div class="col-sm-6 col-sm-offset-3">
        <%= t.input :storage_time, label: "Durée de conservation des données" %>
      </div>
      <div class="col-sm-6 col-sm-offset-3">
        <%= t.input :observation, label: "Observations" %>
      </div>
      <div class="col-sm-6 col-sm-offset-3 center-btn">
        <div class="form-actions">
          <%= t.submit 'CONFIRMER', class: 'btn-edit' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
