<div class="treatments">
  <div class="treatments-title">
    <div class="treatments-title-help">
      <h1>Mes traitements de données personnelles</h1>
      <div class="help-tip">
        <p><u>Traitement de données personnelles :</u> toute opération, ou ensemble d’opérations, portant sur des données permettant d'identifier un individu, quel que soit le procédé utilisé (collecte, enregistrement, organisation, conservation, adaptation, modification, extraction, consultation, utilisation, communication par transmission diffusion ou toute autre forme de mise à disposition, rapprochement ou interconnexion, verrouillage, effacement ou destruction, ...). <b>Vous devez indiquer tous les traitements de votre structure qu'ils soient numériques ou papiers.</b></p>
      </div>
    </div>
    <%= link_to "Ajouter un traitement", new_client_treatment_path, class: "btn-add-treatment" %>
  </div>

  <div class="treatments-content">
    <div class="treatments-header">
      <div class="col5 col-sm-6">
        <p>Nom du traitement</p>
      </div>
      <div class="col5 col-sm-6">
        <p>Date de démarrage</p>
      </div>
      <div class="col5 col-sm-6">
        <p>Finalité principale</p>
      </div>
      <div class="col5 col-sm-6">
        <p>Service concerné</p>
      </div>
      <div class="col5 col-sm-6">
        <p> </p>
      </div>
    </div>

    <% @treatments.each do |treatment| %>
    <!-- <div class="list-treatment"> -->
      <%#= link_to client_treatment_path(treatment) do %>
        <div class="treatment">
          <div class="col5 col-sm-6">
            <p><%= treatment.name %></p>
          </div>
          <div class="col5 col-sm-6">
            <p><%= treatment.start_date %></p>
          </div>
          <div class="col5 col-sm-6">
            <p><%= treatment.main_purpose %></p>
          </div>
          <div class="col5 col-sm-6">
            <p><%= treatment.service_concerned %></p>
          </div>
          <div class="col5 col-sm-6">
            <%= link_to "Voir", client_treatment_path(treatment), class: "btn-treatment" %>
          </div>
        </div>
        <%# end %>
      <!-- </div> -->
    <% end %>
  </div>

</div>
